.App {
  background-color: #282c34;
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

.App-header {
  background-color: darkturquoise;
  height: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 2vmin);
  color:  #282c34;
  margin-bottom:50px;
}

.todoformcontainer{
  border: 3px solid white;
  height: auto;
  width: 60vw;
  padding: 7px;
  flex-direction: row;
  margin:10px;
}
input[type=text]{
  max-width: 700px;
  width: 40vw;
  height: 55px;
  font-size: 25px;
  font-family: sans-serif;
  margin:2px;
  color: #282c34;
}
.addButton{
  height: 55px;
  margin: 8px;
  padding-bottom: 7px;
  background-color: #282c34;
  color: aliceblue;
  font-size: 35px;
  outline: none;
}

.todoItem{
  font-size: 25px;
  color: aliceblue;
  padding: 15px;
  overflow-wrap: break-word;
}

.greenitemcontainer{
  border: 3px solid green;
  height: auto;
  width: 60vw;
  padding: 10px;
  margin: 10px;
}
.reditemcontainer{
  border: 3px solid red;
  height: auto;
  width: 60vw;
  padding: 10px;
  margin: 10px;
}
.delButton{
  height: 30px;
  margin: 5px;
  padding-bottom: 7px;
  background-color: #282c34;
  color: red;
  font-size: 25px;
  font-weight: bold;
  outline: none;
}
.compButton{
  height: 30px;
  margin: 5px;
  padding-bottom: 7px;
  background-color: #282c34;
  color: green;
  font-size: 25px;
  font-weight: bold;
  outline: none;
}